body{
    background-color: black;
    margin: 0%;
    color: aliceblue;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 209, 158);
    color: black;
    margin: 0%;
}
.hero_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    

}
.films{
    display: flex;
    justify-content: center;
}
img{
    border: 2px solid white;
    margin-top: 10px;
}
.para{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    
}
a{
    text-decoration: none;
    color: rgb(86, 86, 216);
}
a:hover{
    color:rgb(138, 138, 221);
}
a:visited{
    color: rgba(175, 175, 182, 0.705);
}
#name{
    font-style: oblique;
    
}
table{
    border: 2px solid wheat;
    border-radius: 4px;
    border-collapse: collapse;
    width: 300px;
    
}
th,td{
    border:2px solid wheat ;
    text-align: center;
    padding: 2px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 40px;
    background-color: rgb(248, 209, 158);
    color: black;
    padding: 20px;

    
}